<div class="card">
	<div class="card-body min-padding">
		<div class="row">
			<div class="col-md-9">
				<h4 class="card-title">Employees
					<span class="badge badge-primary"><%= @filtered_results.count %></span>
				</h4>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<%= simple_form_for EmployeeImporter.new, url: employees_imports_path, html: {id: "employee_importer"} do |f| %>
							<div class="row">
					      <div class="col-md-3">
					        <%= f.input :school_id, input_html: {value: current_school.id}, as: :hidden %>
					      </div>
					      <div class="col-md-3">
					        <%= f.input :spreadsheet_file, as: :file, label: false, input_html: { class: 'choose-btn center-block', style: 'visibility: hidden', id: "spreadsheet_file" } %>
					      </div>
					      <div class="col-md-3">
					        <a href="" class="btn btn-default btn-sm float-right" id="browse_file" title="Import employees from Excel" data-toggle="tooltip">Import Employees</a>
					      </div>
					    </div>
					  <% end %>
					</div>
					<div class="col-md-6">
						<%= link_to "New Employee", new_employee_path, class: "btn btn-primary btn-sm float-right", data: {modal: true} %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="no-margin">
	<div class="card-body min-padding">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="row">
					<div class="col-md-6">
						<%=form_tag employees_path, method: :get do %>
		          <div class="input-group">
		            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Employee", id: 'sidebar-form' %>
		            <span class="input-group-btn">
		              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
		                <i class="fa fa-search"></i>
		              <% end %>
		            </span>
		          </div>
		        <% end %>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% @employees.each do |employee| %>
	<%= link_to employee_path(employee) do %>
		<%= render "employees/shared/card", employee: employee %>
	<% end %>
<% end %>

<script type="text/javascript">
  $('#department-filter').change(function(e) {
    $('#department-filter-form').submit();
  });
</script>

<script type="text/javascript">
  $("#browse_file").click(function(e) {
    $("#spreadsheet_file").click();
    e.preventDefault();
    e.stopPropagation();
    $("#spreadsheet_file").change(function() {
      var val = $("#spreadsheet_file").val();
      if (val != ''){
        $("#employee_importer").submit();
      }
    });
  });
</script>