<div class="modal-dialog">
  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title card-title" id="mainModalLabel">
		    Set Time
		  </h4>
		  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
		<hr class="no-margin">
		<%= simple_form_for @time_record_form, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: employee_time_records_path(date: Date.parse(params[:date])) do |f| %>
		  <div class="modal-body">
		    <%= f.error_notification %>
		    <%= f.input :employee_id, input_html: {value: @employee.id}, as: :hidden %>
		    <%= f.input :date, input_html: {value: Date.parse(params[:date])}, as: :hidden %>
		    <%= f.input :log_type, input_html: {value: params[:log_type]}, as: :hidden %>
		    <%= f.input :meridian, input_html: {value: params[:meridian]}, as: :hidden %>
		    <div class="bootstrap-timepicker timepicker">
          <%= f.input :logged_at, label: "Time", input_html: {id: "time", value: params[:logged_time].present? ? Time.parse(params[:logged_time]).strftime("%I:%M %p") : ""}, as: :string %>
        </div>
		  </div>
		  <div class="modal-footer">
		    <%= f.submit "Save", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
		  </div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
  $('.modal').on('shown.bs.modal', function () {
    $('#time').timepicker({
      defaultTime: false,
      minuteStep: 1
    });
  });
</script>