<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title card-title" id="mainModalLabel">
        New Schedule 
      </h4>
      <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <hr class="no-margin">
    <%= simple_form_for @schedule, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: settings_schedules_path do |f| %>
      <div class="modal-body">
        <%= f.input :shift_type, label: false, collection: Schedule.shift_types.keys.to_a.map{|o| [o.titleize, o]}, as: :radio_buttons, checked: Schedule.shift_types.keys.first %>
        <div class="row">
          <div class="col-md-6">
            <div class="bootstrap-timepicker timepicker">
              <%= f.input :starts_at, label: "From", input_html: {id: "startTime"}, as: :string %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bootstrap-timepicker timepicker">
              <%= f.input :ends_at, label: "To", input_html: {id: "endTime"}, as: :string %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.modal').on('shown.bs.modal', function () {
    $('#startTime').timepicker({
      defaultTime: false
    });
    $('#endTime').timepicker({
      defaultTime: false
    });
  });
</script>