<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Reports</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<h4 class="card-title mb-2">Employees' Attendance</h4>
						<div class="row justify-content-end">
							<div class="col-md-11">
								<%= form_tag({format: "pdf", :action => "index", controller: "/reports/attendances"}, {:method => :get, :class => 'form-inline'})  do %>
						      <%= text_field_tag :date, @date.strftime("%B %e, %Y"), :class => 'form-control border-input datepicker' %>
						      <button type="submit" class="btn btn-default">Get Report (PDF)</button>
						    <% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
			<hr class="no-margin">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<h4 class="card-title mb-2">Daily Time Record</h4>
						<div class="row justify-content-end">
							<div class="col-md-11">
								<%= form_tag({format: "pdf", :action => "index", controller: "/reports/daily_time_records"}, {:method => :get, :class => 'form-inline'})  do %>
						      <%= text_field_tag :date, @date.strftime("%B, %Y"), :class => 'form-control border-input monthpicker' %>
						      <%= select_tag :employee_id, options_for_select(Employee.not_admin.order(:full_name).map {|m| [m.full_name, m.id]}, params[:employee_id]), class: ' form-control border-input', prompt: false %>
						      <button type="submit" class="btn btn-default">Get Report (PDF)</button>
						    <% end %>
						    <small class="text-muted">Select any day of the target month.</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
			</div>
			<hr class="no-margin">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<h4 class="card-title mb-2">Attendance Summary(Monthly)</h4>
						<div class="row justify-content-end">
							<div class="col-md-11">
								<%= form_tag({format: "pdf", :action => "index", controller: "/reports/attendance_summaries"}, {:method => :get, :class => 'form-inline'})  do %>
						      <%= text_field_tag :date, @date.strftime("%B, %Y"), :class => 'form-control border-input monthpicker' %>
						      <button type="submit" class="btn btn-default">Get Report (PDF)</button>
						    <% end %>
						    <small class="text-muted">Select any day of the target month.</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
			</div>
			<hr class="no-margin">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<h4 class="card-title mb-2">Employee Basic Information</h4>
						<div class="row justify-content-end">
							<div class="col-md-11">
								<%= form_tag({format: "pdf", :action => "index", controller: "/reports/employee_informations"}, {:method => :get, :class => 'form-inline'})  do %>
						      <%= select_tag :employee_id, options_for_select(Employee.not_admin.order(:full_name).map {|m| [m.full_name, m.id]}, params[:employee_id]), class: ' form-control border-input', prompt: false %>
						      <button type="submit" class="btn btn-default">Get Report (PDF)</button>
						    <% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( document ).on('turbolinks:load', function() {
	  $('.monthpicker').datepicker({
	    format: "MM, yyyy",
	    orientation: "auto bottom",
	    todayHighlight: 'true',
	    autoclose: 'true'
	  });
	});
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker({
      format: 'MM dd, yyyy',
      orientation: "auto",
	    todayHighlight: 'true',
	    autoclose: 'true'
    });
  });
</script>